<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5VA15V2V0yH7tvHsS4aM5ncPhhyr99RA</string>
	<key>GCM_SENDER_ID</key>
	<string>1028719079793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleSheetProject</string>
	<key>PROJECT_ID</key>
	<string>main-cedar-416307</string>
	<key>STORAGE_BUCKET</key>
	<string>main-cedar-416307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028719079793:ios:dadf896db52c6fb00106d0</string>
</dict>
</plist>